html{
  margin: 1%;
  background-color: #A6B8A6;
}

h1, h3{
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: Verdana, sans-serif;
}

body{
	background-image: url("/images/ryos.JPG");
}

.static_top{

}

.input{

}

.selector_btn{
	width: 49.5%;
	background-color: #FF6321;
	font-size: 20px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
	border: none;
}

.selector_btn:hover{
		background-color: #FFFFFF;

}

.input_form{

}

.nc_form{
	background-color: #D9F0E0;

}

#story_form{
	margin: 2%;
	background-color: #D9F0E0;

}

#story_in{
	height: 160px;
	margin: 2%;
}

#url_form{
	margin: 2%;
	background-color: #D9F0E0;
}

.story_presentation{

}

.disclaimer{

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 12px;
}