html{
  	margin: 1%;
	background-color: #A6B8A6;
	font-family: Verdana, sans-serif;

}

h1, h3{
  text-transform: uppercase;
  text-align: center;
}

body{
}


textarea{
    width: 100%;
    padding: 12px 20px;
    height: 100px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: scroll;
}


.center{
	margin: 1% auto;
    width: 90%;
    padding: 10px;
    background-color: #E6EBE6;
}

.selector_btn{
	width: 49.5%;
	background-color: #FF6321;
	font-size: 20px;
	padding: 8px 30px;
	text-decoration: none;
	display: inline-block;
	border: none;
}

.selector_btn:hover{
		background-color: #FFFFFF;

}

/*Contains all input forms, no namechange*/
.input_form{
	height: 200px;
	width: 94%;
	align-self: center;
	background-color: #E6EBE6;
}

/*Button to run scraper or name-changer, makes nc_form appear*/
.input_button{
	background-color: #FF6321;
	font-size: 20px;
	padding: 8px 30px;
	text-decoration: none;
	border: none;
}

/*Text box part of story_form, used as input when input_button clicked*/
#story_in{

}

/*Form which appears when Copy & Paste button clicked*/
#story_form{

}

/*Form which appears when Scrape the Web button clicked*/
#url_form{
	margin: 2%;
	background-color: #E6EBE6;
}

/*Contains name_change form*/
.nc_form{
	background-color: #C2C6C3;

}

.story_presentation{

}


.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #EFEFEF;
  text-align: center;
  font-size: 12px;
}